<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" bootstrap="tests/bootstrap.php">
  <coverage processUncoveredFiles="true">
    <include>
      <file>MslsSelect.php</file>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="mslsselect">
      <directory>./tests/</directory>
    </testsuite>
  </testsuites>
</phpunit>
